RewriteEngine On
RewriteBase /bialy/
RewriteRule ^$ /inicio [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^panel_cata$ panel_cata.php [L]
RewriteRule ^inicio$ inicio.php [L]
RewriteRule ^lotes$ lotes.php [L]
RewriteRule ^recetas$ recetas.php [L]
RewriteRule ^maltas$ variedades_malta.php [L]
RewriteRule ^lupulos$ variedades_lupulo.php [L]
RewriteRule ^cepas_levadura$ cepas_levadura.php [L]
RewriteRule ^reportes_agua$ reportes_h2o.php [L]
RewriteRule ^fermentadores$ fermentadores.php [L]
RewriteRule ^estadisticas$ estadisticas.php [L]
RewriteRule ^panel_sensorial$ panel_sensorial.php [L]
RewriteRule ^planificacion$ planificacion.php [L]
RewriteRule ^configuracion$ configuracion.php [L]
RewriteRule ^planilla_cata$ planilla_cata.php [L]
RewriteRule ^planilla_devolucion$ planilla_cata.php [L]
RewriteRule ^detalle_lote$ detalles_lote.php [L]
RewriteRule ^detalle_receta$ detalle_receta.php [L]
RewriteRule ^anadir_receta$ anadir_receta.php [L]
RewriteRule ^detalle_lote$ detalles_lote.php [L]
RewriteRule ^detalle_planilla$ detalle_planilla_cata.php [L]
RewriteRule ^guardar_lote$ guardar_lote.php [L]
RewriteRule ^anadir_lote$ anadir_lote.php [L]
RewriteRule ^eliminar_registro$ eliminar_registro.php [L]
RewriteRule ^guardar_receta$ guardar_receta.php [L]
RewriteRule ^anadir_detalles_lote$ anadir_detalles_lote.php [L]
RewriteRule ^anadir_malta$ anadir_malta.php [L]
RewriteRule ^anadir_lupulo$ anadir_lupulo.php [L]
RewriteRule ^anadir_levadura$ anadir_levadura.php [L]
RewriteRule ^detalle_reporte_agua$ detalle_reporteh2o.php [L]
RewriteRule ^anadir_reporte_agua$ anadir_reporte_h2o.php [L]
RewriteRule ^limpiar_fermentador$ limpieza_fermentador.php [L]





RewriteRule ^panel_sensorial$ panel_sensorial.php [L]
RewriteRule ^panel_cata$ panel_cata.php [L]
RewriteRule ^guardar_cata$ guardar_cata.php [L]
RewriteRule ^detalle_planilla_cata$ detalle_planilla_cata.php [L]
RewriteRule ^eliminar_nota_cata$ eliminar_nota_cata.php [L]
RewriteRule ^actualizar_cata$ actualizar_cata.php [L]
RewriteRule ^detalle_planilla$ detalle_planilla_cata.php [L]
RewriteRule ^detalle_planilla$ detalle_planilla_cata.php [L]
RewriteRule ^anadir_registro$ anadir_registro.php [L]
RewriteRule ^planificacion$ planificacion.php [L]
RewriteRule ^planificacion_update$ planificacion_update.php [L]
RewriteRule ^recetas$ recetas.php [L]
RewriteRule ^fermentadores$ fermentadores.php [L]
RewriteRule ^reportes_agua$ reportes_h2o.php [L]
RewriteRule ^detalle_reporte_agua$ detalle_reporteh2o.php [L]
RewriteRule ^anadir_reporte_agua$ anadir_reporte_h2o.php [L]
RewriteRule ^actualizar_fermentador$ actualizar_fermentador.php [L]
RewriteRule ^configuracion$ configuracion.php [L]
RewriteRule ^config_update$ config_update.php [L]
RewriteRule ^nuevo_usuario$ nuevo_usuario.php [L]
RewriteRule ^cambiar_contrasena$ cambiar_contrasena.php [L]

RewriteRule ^nuevo_usuario$ nuevo_usuario.php [L]
RewriteRule ^nuevo_taster$ nuevo_taster.php [L]
RewriteRule ^guardar_usuario$ guardar_usuario.php [L]
RewriteRule ^anadir_receta$ anadir_receta.php [L]
RewriteRule ^detalle_receta$ detalle_receta.php [L]
RewriteRule ^detalle_reporte_agua$ detalle_reporteh2o.php [L]
RewriteRule ^anadir_reporte_agua$ anadir_reporte_h2o.php [L]
RewriteRule ^guardar_reporte_h2o$ guardar_reporteh2o.php [L]
RewriteRule ^guardar_estilo$ guardar_estilo.php [L]
RewriteRule ^editar_lote$ editar_lote.php [L]
RewriteRule ^guardar_edicion_lote$ guardar_edicion_lote.php [L]
RewriteRule ^detalles_lote$ detalles_lote.php [L]
RewriteRule ^planilla_cata$ planilla_cata.php [L]
RewriteRule ^detalle_planilla$ detalle_planilla_cata.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^comparar_fermentacion$ comparar_fermentacion.php [L]
